@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');





#content {

  max-width: 1600px;

  margin: 0 auto;

  width: 100%;

}




nav a {

  text-align: center;

  padding: 35px;

}

#hero-msg h1, #hero-msg h4 {

  text-align: center;

  color: white;

}

.button-box{

  text-align: center;

}

main section {

  text-align: center;

}




body {

  background-color: #26408B;

  margin: 0;

  padding: 0;

  font-size: 22px;




}

header {

  background-color:#0F084B;

  width: 100%;

  display: grid;

  grid-template-columns: 150px auto;

  align-items: center;

}

nav a:hover {

  background-color: #0F084B;

  color: rgb(251, 251, 252);

}

nav a {

  color: #5BC0EB;

  text-decoration: none;

  padding: 35px;

  text-align: center;

}

.book, .join {

  background-color: #26408B ;

  color: white;

  font-size: 18px;

  text-decoration: none;

  padding: 15px 30px;

  margin-top: 50px;

  border-radius: 5px;

}




.book:hover, .join:hover {

  background-color: white;

  color: black;

}




#background {

  background-color: #D5F9DE;

  height: 725px;

}




.msg {

  background-color: #BFACB5;

  padding: 35px;

  grid-column: 6/10;

  grid-row: 6/7;

  box-shadow: 5px 5px 10px #6f7364;

}

footer {

  background-color: #BFACB5;

  padding: 25px 50px;

  margin-top: 200px; 

  display: flex;

  justify-content: space-around;

  align-items: center;

}

.home-title, h4 {

  color: black;

  font-family: 'Smooch', cursive;

  font-size: 2em;

  margin-top: 10px;

  letter-spacing: 2px;

  /* font-family: 'Josefin Sans', sans-serif; */

}




.msg h2, p {

  color: #0F084B;

}

footer h3{

  color: black;

}

footer a {

  color: black;

  text-decoration: none

}

footer a:hover {

  color: white;

}




.logo, .icon {

  width: 80px;

}

#hero-img {

  width: 100%;

  padding: 0;

  margin: 0;

}




h2 {

  margin: 0;

  padding: 0;

}




#logo_link {

  padding-top: 5px;

  justify-self: center;

  align-self: center;

  z-index: 1;

}

.icon {

  padding-top: 10px;

}




.msg p {

  padding-bottom: 15px;

}






footer .social img   {

  padding-top: 15px;

}




.silent-card, .ambiance-card, .rapids-card {

  margin: 200px 0;

}  

.silent-card, .ambiance-card, .rapids-card { 

  margin: 50px auto;

  width: 200%;

}






main section img {

  box-sizing: border-box;

  margin-left: 20px;




}




nav {

  display: flex;

  justify-content: space-around;

  z-index: 1;

}




#hero {

  display: grid;

  grid-template-columns: 1fr 3fr 1fr;

  margin-top: -100px;

}




#hero-box {

  grid-column: 1/4;

  grid-row: 1/3;

}




#hero-msg {

  grid-column: 2/3;

  grid-row: 1/2;

  margin-top: 100px;

}




.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Modified to 3 columns */
    gap: 20px;
    padding: 20px;
}




.card-img, .mountains {

  width: 100%;

}




.silent-card {

  grid-column: 3;

  grid-row: 2/3;

}




.ambiance-card {
    grid-column: 3;
    grid-row: 3/3;
}




.rapids-card {

  grid-column: 8/10;

  grid-row: 2/3;

}




#background {

  grid-column: 1/11;

  grid-row: 4/9;

}




.library {

  width: 100%;

  grid-column: 2/7;

  grid-row: 5/8;

  box-shadow: 5px 5px 10px #6f7364;

}




.msg {

  grid-column: 6/10;

  grid-row: 6/7;

}




.card-img:hover {

  opacity: .6;

  transform: scale(1.1);

}

.card-img {

  border: solid black 10px;

  

  transition: transform .6s;

  box-shadow: 5px 5px 10px #6f7364;

}

.faq {
  width: 650%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.faq h2 {
  text-align: center;
  margin-bottom: 20px;
  color: gold;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-item h3 {
  width: 100%;
  background-color: #465362;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.faq-item p {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.silent-card, .ambiance-card {
    display: flex;
    align-items: center;
    margin-right: 20px
}

.card-img {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-right: 20px; /* Space between image and text */
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-right: 20px
}

/* Ensuring the ambiance-card is aligned to the right */
.ambiance-card {
    grid-column: 3 / 4; /* Moves this card to the far right */
}




@media screen and (max-width: 900px) {

  #hero, .home-grid {

      display: block;

      height: auto;

  }

  nav, footer {

      flex-direction: column;

  }

  nav a {

      display: block;

      padding: 15px;

  }

  #hero {

      margin-top: 0;

  }

  #hero-msg {

      margin-top: 0;

  }

  #hero-msg h4 {

      display: none;

  }

  .home-title {

      font-size: 25px;

      color: #6f7364;

  }

  




  #background {

      display: none;

  }

  .mountains, .msg {

      width: 80%;

      display: block;

      margin: 0 auto;

  }

  footer {

      margin-top: 25px;

  }

}
